<h1>House <%= @house.name %></h1>
<h2>Motto: <%= @house.motto %></h2>
<p><%= @house.story %></p>
<h2>Members:</h2>
<% @house.characters.each do |character| %>
  <div class="character">
    <h3><%= link_to character.name, character %></h3>
    <%= link_to (image_tag character.image), character %>
  </div>
<% end %>
